<% layout('layouts/boilerplateVideo') %>
    <link rel="stylesheet" href="/stylesheets/video.css">
    <title>Explore videos posted by Dr. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            VIDEO SERIES
        </h1>
    </div>




    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center mx-3">
        <%for (let [i, video] of videoData.entries()) { %>

            <div class="col mb-4">
                <div class="card h-100 bg-dark">
                    <!-- Button trigger modal -->
                    <input type="image" class="btn thumb" data-bs-toggle="modal" data-bs-target="#videoModal<%=i%>"
                        src="/images/videothumbnails/<%=video.img%>">
                    </input>

                    <!-- Modal -->
                    <div class="modal fade" id="videoModal<%=i%>" data-bs-backdrop="static" tabindex="-1"
                        aria-labelledby="videoModalLabel<%=i%>" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="videoModalLabel<%=i%>"
                                        style="font-family: 'Poppins', sans-serif; font-weight: 600;">
                                        John A. Otte Interview Series
                                    </h5>
                                    <button type="button" class="btn-close stop-video" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="ratio ratio-16x9 my-5 interview-container">
                                        <iframe id="video<%=i%>" class="youtube-video" width="560" height="315"
                                            src="https://www.youtube.com/embed/<%=video.url%>?enablejsapi=1&version=3&playerapiid=ytplayer&rel=0"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">

                                    <button type="button" class="btn btn-success stop-video" data-bs-dismiss="modal"
                                        style="font-family: 'Poppins', sans-serif; font-weight: 600;">Close
                                        Window</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <% } %>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const youtubeVideos = document.querySelectorAll('.youtube-video')
        $('.stop-video').click(function () {
            for (let youtubeVideo of youtubeVideos) {
                youtubeVideo.contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
            }


        });

    </script>